<div fxLayout="row" fxLayoutGap="10px" class="gap">
  <md-card *ngFor="let link of links | async">    
   <a *ngIf="link.url != null" target="_blank" [href]="link.url">
    <md-card-content>
    <img md-card-image [src]="link.image">
    </md-card-content>
   </a>
  <a *ngIf="link.url == null" [routerLink]="['/signin']">
    <md-card-content>
    <img md-card-image [src]="link.image">
    </md-card-content>
   </a>
  <md-card-footer>    
  <button class="md-card-favorites" md-icon-button>
      <md-icon>favorite_border</md-icon>
    </button> 
    <a *ngIf="link.url != null" md-button target="_blank" [href]="link.url">{{link.name}}</a>
    <a *ngIf="link.url == null" md-button [routerLink]="['/signin']">{{link.name}}</a>
  </md-card-footer>
  </md-card>  
</div>