mat-card{
    width:100px;  
}
.mat-card-favorites{
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    padding: 0;   
    cursor: pointer;       
}
mat-card-content{     
    margin-bottom: 0px;   
}
