<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="login">
    <mat-toolbar color="primary"><h1>Sign In</h1></mat-toolbar>
    <mat-card>      
      <form (ngSubmit)="onSubmit(signInForm)" novalidate [formGroup]="signInForm">
        <div fxLayout="column" fxLayoutGap="8px">         
          <mat-input-container>            
            <input matInput #email type="text" formControlName="email">
            <mat-placeholder><mat-icon>account_box</mat-icon> User Name</mat-placeholder>
            <mat-error *ngIf="signInForm.get('email').hasError('pattern') && signInForm.get('email').touched">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="signInForm.get('email').hasError('required') && signInForm.get('email').touched">
              User Name is <strong>required</strong>
            </mat-error>
          </mat-input-container>    
           <mat-input-container>
            <input matInput type="password" formControlName="password">
            <mat-placeholder><mat-icon>lock</mat-icon> Password</mat-placeholder>
            <mat-error *ngIf="signInForm.get('password').hasError('required') && signInForm.get('password').touched">
              Password is <strong>required</strong>
            </mat-error>            
          </mat-input-container>              
        </div>
        <mat-dialog-actions align="end">          
          <button mat-raised-button color="primary" [disabled]="signInForm.invalid">Sign In</button>
        </mat-dialog-actions>
      </form>
    </mat-card>      
  </div>
</div>