<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="aid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Aadhar No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.aid}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="pan">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PAN No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.pan}} </mat-cell>
        </ng-container>

         <!-- Action Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <mat-radio-group>
                    <mat-radio-button value="1">Retailer</mat-radio-button>
                    <mat-radio-button value="2">Distributor</mat-radio-button>
                  </mat-radio-group> 
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>