<mat-card *ngFor="let category of categories | async">
    <mat-card-header>
        <mat-card-title>{{category.name}}</mat-card-title>        
        <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
        <span fxFlex></span> 
        <button mat-icon-button (click)="editCategory(category)" >
          <mat-icon class="mat-24">mode_edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCategory(category.$key)">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>
    </mat-card-header>   
</mat-card>