<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
        <div class="loading-overlay" #spinnerElement style="display:none">
                <md-progress-bar mode="indeterminate"></md-progress-bar>
            </div>
    <header>
        <app-navbar [isDarkTheme]='isDarkTheme' (notify)='onThemeChange($event)' (toggleSidebar)="toggleSidebar($event)"></app-navbar>
    </header>
    <article [class.animation-content-out]="activateAnimation" [class.animation-content-in]="!activateAnimation">
        <md-sidenav-container>
            <div id="mySidenav" class="sidenav">
                <router-outlet name="sidebar"></router-outlet>
            </div>            
            <div id="main">                    
                <router-outlet></router-outlet>                
            </div>
        </md-sidenav-container>
    </article>
    <footer>
        <router-outlet name="footer"></router-outlet>
    </footer>
</div>