<div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap style="padding-bottom:10px">
    <md-button-toggle-group #group="mdButtonToggleGroup">
        <div *ngFor="let upload of uploads | async">
            <md-button-toggle [value]="upload.url">
                <img md-card-image [src]="upload.url">
            </md-button-toggle>
        </div>
    </md-button-toggle-group>
</div>
<button md-raised-button type="button" [md-dialog-close]="true">Cancel</button>
<button md-raised-button color="accent" [disabled]="!group.value" (click)="imageListDialogRef.close(group.value)">Submit</button>