<h3>Fill in your contact information, we will contact you..</h3>
<form (ngSubmit)="dialogRef.close(enquiryForm)" novalidate [formGroup]="enquiryForm">
  <div fxLayout="column" fxLayoutGap="8px">
    <md-input-container>
      <input mdInput type="text" placeholder="Full name" formControlName="fullName">
      <md-error *ngIf="enquiryForm.get('fullName').hasError('required') && enquiryForm.get('fullName').touched">
        Name is <strong>required</strong>
      </md-error>
      <md-error *ngIf="enquiryForm.get('fullName').hasError('minlength') && enquiryForm.get('fullName').touched">
        Name must have minimum<strong> 3 characters </strong>
      </md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput asyncValidator type="email" placeholder="E-mail" formControlName="email">
      <md-error *ngIf="enquiryForm.get('email').hasError('pattern') && enquiryForm.get('email').touched">
        Please enter a valid email address
      </md-error>
      <md-error *ngIf="enquiryForm.get('email').hasError('required') && enquiryForm.get('email').touched">
        Email is <strong>required</strong>
      </md-error>
      <md-error *ngIf="enquiryForm.get('email').hasError('asyncInvalid') && enquiryForm.get('email').touched">
        Email is <strong>already registered</strong>
      </md-error>
      
    </md-input-container>
    <md-input-container>
      <input mdInput type="tel" placeholder="Mobile" formControlName="mobile">
      <md-error *ngIf="enquiryForm.get('mobile').hasError('required') && enquiryForm.get('mobile').touched">
        Mobile is <strong>required</strong>
      </md-error>
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Details" rows="5" cols="60" formControlName="details"></textarea>
      <md-error *ngIf="enquiryForm.get('details').hasError('required') && enquiryForm.get('details').touched">
        Details are <strong>required</strong>
      </md-error>
    </md-input-container>
  </div>
  <md-dialog-actions align="end">
    <button md-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button md-button color="accent" [disabled]="enquiryForm.invalid">Submit</button>
  </md-dialog-actions>
</form>