<div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap style="padding-bottom:10px">
  <mat-card *ngFor="let link of links | async">      
  <a [routerLink]="['/links-detail', link.$key]">
    <mat-card-content>
    <img mat-card-image [src]="link.image == '' ? 'assets/images/noimage.jpg' : link.image">
    </mat-card-content>
   </a>
  <mat-card-footer align="end">   
      <button mat-icon-button [routerLink]="['/links-detail', link.$key]" >
          <mat-icon class="mat-24">mode_edit</mat-icon>
        </button> 
        <button mat-icon-button (click)="deleteLink(link.$key)">
            <mat-icon class="mat-24">delete</mat-icon>
          </button>     
  </mat-card-footer>
  </mat-card>  
</div>
