/* You can add global styles to this file, and also import other style files*/

@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";
@import "https://fonts.googleapis.com/css2?family=Martel&family=Orbitron:wght@400;700&display=swap";

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;  
}
mat-icon.mat-18 { font-size: 18px; }
mat-icon.mat-24 { font-size: 24px; }
mat-icon.mat-36 { font-size: 36px; }
mat-icon.mat-48 { font-size: 48px; }
.gap{
    padding: 20px;
}
html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
a, button, button:focus{
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
*{
  outline: none;
}
