.active{
    background-color: rgba(255, 255, 255, 0.1)
}
.toolbar{
    -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.logo{
    width: 48px;
    color: #FF9933;
}
.logo-text{
    font-family: 'Orbitron', serif;
    font-size: 2rem;
    font-variant: all-small-caps;
}
.logo-s{
    font-size: 48px;
    color:#138808;
    font-family: 'Martel', serif;
}
.avatar{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    
    flex: 0 1 auto;
}