<md-toolbar color="primary" class="toolbar">
  <button md-icon-button (click)="onOpenSidebar()">
    <md-icon>menu</md-icon>
  </button>
  <span fxHide.xs>
    <img src="assets/images/rcslogo.jpg" width="100px" alt="RCS Seva">  
  </span>
  <span fxFlex></span>
  <a md-icon-button [routerLink]="['/home']" routerLinkActive="active">
    <md-icon>home</md-icon>
  </a>
  <span *ngIf="_signinService.user | async">Hey, {{ (_signinService.user | async)?.email }}</span>
  <a md-button *ngIf="!(_signinService.user | async)" [routerLink]="['/signin']" routerLinkActive="active">Sign In</a>  
  <a md-button *ngIf="(_signinService.user | async)" (click)="logout()" routerLinkActive="active">Signout</a>  
 
  <button *ngIf="_signinService.user | async" md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

</md-toolbar>
<md-menu #themeMenu x-position="before">
  <button md-menu-item (click)="onThemeChange()">
    <md-icon>invert_colors</md-icon>
    <span>Toggle Theme</span>
  </button>
  <button md-menu-item [routerLink]="['/users']" routerLinkActive="active">
    <md-icon>account_circle</md-icon>
    <span>Manage Users</span>
  </button>
  <button md-menu-item [routerLink]="['/links']" routerLinkActive="active">
    <md-icon>link</md-icon>
    <span>Manage Links</span>
  </button>
  <button md-menu-item [routerLink]="['/categories']" routerLinkActive="active">
    <md-icon>playlist_add</md-icon>
    <span>Manage Categories</span>
  </button>
  <button md-menu-item [routerLink]="['/uploads']" routerLinkActive="active">
    <md-icon>file_upload</md-icon>
    <span>Upload Images</span>
  </button>
</md-menu>