<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxFlex>
  <button mat-icon-button (click)="onOpenSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <mat-icon class="material-icons mat-48 logo">
      rounded_corner
    </mat-icon>
  </span>
  <span fxHide.xs class="logo-text">IGITAL&nbsp;</span>
  <span fxHide.xs class="logo-s">&nbsp;S</span>
  <span fxHide.xs class="logo-text">EVAI</span>
  <span fxFlex></span>
  <a mat-icon-button [routerLink]="['/home']" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <span *ngIf="afAuth.authState | async as user">Hey, {{ user.email }}</span>
  <a mat-button *ngIf="!(afAuth.authState | async)" (click)="openLoginDialog()">Login</a>  
  <a mat-button *ngIf="afAuth.authState | async" (click)="logout()" routerLinkActive="active">Logout</a>  
  <a mat-button *ngIf="!(afAuth.authState | async)" (click)="openEnquireDialog()">Register</a>  
 
  <button *ngIf="afAuth.authState | async" mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
<mat-menu #themeMenu x-position="before">
  <button mat-menu-item (click)="onThemeChange()">
    <mat-icon>invert_colors</mat-icon>
    <span>Toggle Theme</span>
  </button>
  <button mat-menu-item [routerLink]="['/enquiries']" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon>
    <span>Enquiries</span>
  </button>
  <button mat-menu-item [routerLink]="['/users']" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon>
    <span>Manage Users</span>
  </button>
  <button mat-menu-item [routerLink]="['/links']" routerLinkActive="active">
    <mat-icon>link</mat-icon>
    <span>Manage Links</span>
  </button>
  <button mat-menu-item [routerLink]="['/categories']" routerLinkActive="active">
    <mat-icon>playlist_add</mat-icon>
    <span>Manage Categories</span>
  </button>
  <button mat-menu-item [routerLink]="['/uploads']" routerLinkActive="active">
    <mat-icon>file_upload</mat-icon>
    <span>Upload Images</span>
  </button>
</mat-menu>